# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env

# Docker
*.log
docker-compose.override.yml
*.swp
docker-compose.override.yml
*.sqlite3
postgres_data/



__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
venv/
.mypy_cache/
.pytest_cache/
.cache/
.idea/
.vscode/
*.log
./build
./dist
build
dist
*.dmg
*.exe
*.deb