[Desktop Entry]
Name=Nun Check
Comment=Check your IP and network info
Exec=python3 /absolute/path/to/src/ip-check.py
Icon=/absolute/path/to/assets/images/ip-check.png
Terminal=false
Type=Application
Categories=Utility;Network;
