[Desktop Entry]
Version=1.0
Name=Remove Comments
Comment=Remove comments from code (all languages)
Exec=/usr/bin/remove-comments
Icon=/usr/share/pixmaps/remove-comments.png
Terminal=false
Type=Application
Categories=Development;Utility;
StartupNotify=true
