[Desktop Entry]
Version=1.0
Name=Smart Info
Comment=Smart IP & System Info Tool
Exec=/usr/bin/smartinfo
Icon=/usr/share/pixmaps/smartinfo.png
Terminal=false
Type=Application
Categories=Utility;Network;
StartupNotify=true
